{% extends "myschedule/base-sidebar.html" %}

{% block page_title %}{{ block.super }} | Search Results{% endblock %}
{% block buttons %} {% endblock %}
{% block content %}
    <form method="get" action="/myschedule/search/" id="search">
        <input type="text" name="q" id="id_query" {% if form.q.initial %}value="{{ form.q.initial }}"{% else %}value="{{ query }}"{% endif %} />
        <input type="image" value="Search" name="submit" src="{% url appstatic "img/search_button.png" %}" />
        {% include "myschedule/search_filters.html" %}
    </form>
  {% if not user.is_authenticated or conflicts.conflicting_sections %}
    <br />
    <div class="message message-warning" id="conflict-login-message">
      {% if not user.is_authenticated %}
        <p id="login-message"><a href="{% url login %}">Sign in</a> to save this schedule!</p>
      {% endif %}
      {% if conflicts.conflicting_sections %}
        <p id="conflict-message">This schedule contains scheduling conflicts.</p>
      {% endif %}
    </div>
  {% endif %}
  {#{% if query %}#}
      {% for result in page.object_list %}
	      <div class="course">
	        <div class="course-top"></div>
	        <div class="course-content">
		        <div class="course-metadata">
			        <p class="course-number">{{ result.object.prefix }} {{ result.object.course_number }}</p>
			        <p class="course-hours">{% if result.object.section_set.all %}{% if result.object.section_set.all.0.ceus %}CEUs<br />{{ result.object.section_set.all.0.ceus }}{% else %}{% if result.object.section_set.all.0.credit_hours %}Credit Hours<br />{{ result.object.section_set.all.0.credit_hours }}{% else %}No Credit{% endif %}{% endif %}{% endif %}</p>
		        </div>
		        <div class="course-description">
			        <p class="course-name">{% if result.object.section_set.all %}<a href="{% url show_sections result.object.id %}">{{ result.object.title }}</a>{% else %}{{ result.object.title }}{% endif %}</span>
			        <p>{{ result.object.description|truncatewords:23 }}</p>

              {% if result.object.prerequisites or result.object.corequisites %}
                <table class="requisites">
                <tbody>
                  <tr>
                    <td class="prereq">
                    {% if result.object.prerequisites %}
                      <strong>Prerequisites:  </strong>
                      {% if result.object.prerequisite_courses %}
                        {% for prereq in result.object.prerequisite_courses %}
                          {% if not forloop.first %}, {% endif %}
                          {% if prereq.prereq_course.section_set.all %}
                            <a href="{% url show_sections prereq.prereq_course.id %}">{{ prereq.prereq_course.prefix }} {{ prereq.prereq_course.course_number }}</a>
                          {% else %}
                            {{ prereq.prereq_course.prefix }} {{ prereq.prereq_course.course_number }}
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        Please check the <a href="{{ catalog_url }}" target="_blank">catalog</a> for prerequisite information.
                      {% endif %}
                    {% else %}
                      &nbsp;
                    {% endif %}
                    </td>

                    <td class="coreq">
                    {% if result.object.corequisites %}
                      <strong>Co-requisites:  </strong>
                      {% if result.object.corequisite_courses %}

                        {% for coreq in result.object.corequisite_courses %}
                          {% if not forloop.first %}, {% endif %}
                            {% if coreq.coreq_course.section_set.all %}
                              <a href="{% url show_sections coreq.coreq_course.id %}">{{ coreq.coreq_course.prefix }} {{ coreq.coreq_course.course_number }}</a>
                            {% else %}
                              {{ coreq.coreq_course.prefix }} {{ coreq.coreq_course.course_number }}
                            {% endif %}
                        {% endfor %}
                      {% else %}
                        Please check the <a href="{{ catalog_url }}" target="_blank">catalog</a> for co-requisite information.
                      {% endif %}
                    {% else %}
                      &nbsp;
                    {% endif %}
                    </td>
                  </tr>
                </tbody>
                </table>
              {% endif %}
              {% if result.object.note %}<p class="course-note"><strong>Note</strong> {{ result.object.note }}</p>{% endif %}
		        </div>
		        <div class="clear"></div>
	        </div>
	        <div class="course-bottom"></div>
	      </div>
      {% empty %}
        {% if spelling_suggestion %}
		      <p>Did you mean <a href="{% url haystack_search %}?q={{ spelling_suggestion }}">{{ spelling_suggestion }}</a></p>
		    {% else %}
          <p>No results found.</p>
		    {% endif %}
      {% endfor %}
      {% if page.has_previous or page.has_next %}
          <div>
              {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}&amp;campus={{ request.session.campus_filter }}&amp;delivery_method={{ request.session.delivery_method_filter }}&amp;start_date={{ request.session.start_date_filter }}&amp;end_date={{ request.session.end_date_filter }}&amp;all_courses={{ request.session.all_courses }}&amp;sort_order={{ request.session.sort_order }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
              {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}&amp;campus={{ request.session.campus_filter }}&amp;delivery_method={{ request.session.delivery_method_filter }}&amp;start_date={{ request.session.start_date_filter }}&amp;end_date={{ request.session.end_date_filter }}&amp;all_courses={{ request.session.all_courses }}&amp;sort_order={{ request.session.sort_order }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
          </div>
      {% endif %}
  {#{% else %}#}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {#{% endif %}#}
{% endblock %}

