{% extends "myschedule/base-sidebar.html" %}

{% block page_title %}{{ block.super }} | Search Results{% endblock %}

{% block scripts %}{{ block.super }}
  <script type="text/javascript" src="{% url appstatic "js/course-results.js" %}"></script>
{% endblock %}

{% block content %}

{% include "myschedule/search.html" %}

{% block loader %}
<div id="loader-cover"></div>
<div id="loader">
    <div id="loader-inner">
        <img src="../static/img/loading2.gif" alt="Loading" height="128" width="128"> 
    </div>
</div>
{% endblock %}
  {% if not user.is_authenticated or conflicts.conflicting_sections or filters_set or request.session.Cart and request.session.Cart|length >= 14 %}
    <div class="alert alert-warning" id="conflict-login-message">
      {% if not user.is_authenticated %}
        <p id="login-message" class="text-warning"><i class="icon-warning-sign"></i><b> You are not signed in.</b><br>
        <span class="help-block">Signing in allows you to save this schedule and register for the classes you select.</span></p>
      {% endif %}
    {% if request.session.Cart and request.session.Cart|length >= 14 %}
      <p id="length-message" class="text-error"><i class="icon-warning-sign"></i>Schedule has reached maximum length allowed. You will need to remove some sections in order to add more.</p>
    {% endif %}
      {% if conflicts.conflicting_sections %}
        <p id="conflict-message" class="text-warning"><i class="icon-warning-sign"></i>This schedule contains scheduling conflicts.</p>
      {% endif %}
    </div>
  {% endif %}
      {% for result in page.object_list %}
	      <div class="course row-fluid">
	        <div class="course-content span12 pointer hoverable" ref="{% url show_sections result.object.id %}">
		        <div class="course-metadata span3">
			        <div class="course-number">{{ result.object.prefix }} {{ result.object.course_number }}</div>
              {% if not result.object.section_set.all %}
                <div class="course-hours"><b>No Sections Available</b></div>
              {% else %}
                <div class="course-hours">{% if result.object.section_set.all %}{% if result.object.section_set.all.0.ceus %}CEUs {{ result.object.section_set.all.0.ceus }}{% else %}{% if result.object.section_set.all.0.credit_hours %}Credit Hours {{ result.object.section_set.all.0.credit_hours }}{% else %}No Credit{% endif %}{% endif %}{% endif %}</div>
              {% endif %}
		        </div>
		        <div class="course-description span9">
			        <p class="course-name"><a href="{% url show_sections result.object.id %}">{{ result.object.title }}</a></p>
			        <p>{{ result.object.description|truncatewords:23 }}</p>

              {% if result.object.prerequisites or result.object.corequisites %}
                {% comment %}
                <table class="requisites">
                <tbody>
                  <tr>
                    <td class="prereq">
                    {% if result.object.prerequisites %}
                      <strong>Prerequisites:  </strong>
                      {% if result.object.prerequisite_courses %}
                        {% for prereq in result.object.prerequisite_courses %}
                          {% if not forloop.first %}, {% endif %}
                          {% if prereq.prereq_course.section_set.all %}
                            <a href="{% url show_sections prereq.prereq_course.id %}">{{ prereq.prereq_course.prefix }} {{ prereq.prereq_course.course_number }}</a>
                          {% else %}
                            {{ prereq.prereq_course.prefix }} {{ prereq.prereq_course.course_number }}
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        Please check the <a href="{{ catalog_url }}" target="_blank">catalog</a> for prerequisite information.
                      {% endif %}
                    {% else %}
                      &nbsp;
                    {% endif %}
                    </td>

                    <td class="coreq">
                    {% if result.object.corequisites %}
                      <strong>Co-requisites:  </strong>
                      {% if result.object.corequisite_courses %}

                        {% for coreq in result.object.corequisite_courses %}
                          {% if not forloop.first %}, {% endif %}
                            {% if coreq.coreq_course.section_set.all %}
                              <a href="{% url show_sections coreq.coreq_course.id %}">{{ coreq.coreq_course.prefix }} {{ coreq.coreq_course.course_number }}</a>
                            {% else %}
                              {{ coreq.coreq_course.prefix }} {{ coreq.coreq_course.course_number }}
                            {% endif %}
                        {% endfor %}
                      {% else %}
                        Please check the <a href="{{ catalog_url }}" target="_blank">catalog</a> for co-requisite information.
                      {% endif %}
                    {% else %}
                      &nbsp;
                    {% endif %}
                    </td>
                  </tr>
                </tbody>
                </table>
                {% endcomment %}
                <div class="requisites">
                    {% if result.object.prerequisites %}
                      <div class="prereq">
                      <strong>Prerequisites:  </strong>
                      {% if result.object.prerequisite_courses %}
                        {% for prereq in result.object.prerequisite_courses %}
                          {% if not forloop.first %}, {% endif %}
                          {% if prereq.prereq_course.section_set.all %}
                            <a href="{% url show_sections prereq.prereq_course.id %}">{{ prereq.prereq_course.prefix }} {{ prereq.prereq_course.course_number }}</a>
                          {% else %}
                            {{ prereq.prereq_course.prefix }} {{ prereq.prereq_course.course_number }}
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        Please check the <a href="{{ catalog_url }}" target="_blank">catalog</a> for prerequisite information.
                      {% endif %}
                      </div>
                    {% endif %}

                    {% if result.object.corequisites %}
                      <div class="coreq">
                      <strong>Co-requisites:  </strong>
                      {% if result.object.corequisite_courses %}

                        {% for coreq in result.object.corequisite_courses %}
                          {% if not forloop.first %}, {% endif %}
                            {% if coreq.coreq_course.section_set.all %}
                              <a href="{% url show_sections coreq.coreq_course.id %}">{{ coreq.coreq_course.prefix }} {{ coreq.coreq_course.course_number }}</a>
                            {% else %}
                              {{ coreq.coreq_course.prefix }} {{ coreq.coreq_course.course_number }}
                            {% endif %}
                        {% endfor %}
                      {% else %}
                        Please check the <a href="{{ catalog_url }}" target="_blank">catalog</a> for co-requisite information.
                      {% endif %}
                      </div>
                    {% endif %}
                </div>
              {% endif %}
              {% if result.object.note %}<p class="course-note"><strong>Note</strong> {{ result.object.note }}</p>{% endif %}
		        </div>

	        </div>
	        <!-- <div class="course-bottom"></div> -->
	      </div>
      {% empty %}
        {% if spelling_suggestion %}
		      <p>Did you mean <a href="{% url haystack_search %}?q={{ spelling_suggestion }}">{{ spelling_suggestion }}</a></p>
		    {% else %}
          <p>No results found.</p>
		    {% endif %}
      {% endfor %}
      {% if page.has_previous or page.has_next %}
          <div>
              {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}&amp;academic_level={{ request.session.academic_level_filter }}&amp;campus={{ request.session.campus_filter }}&amp;delivery_method={{ request.session.delivery_method_filter }}&amp;start_date={{ request.session.start_date_filter }}&amp;end_date={{ request.session.end_date_filter }}&amp;all_courses={{ request.session.all_courses }}&amp;sort_order={{ request.session.sort_order }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
              {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}&amp;academic_level={{ request.session.academic_level }}&amp;campus={{ request.session.campus_filter }}&amp;delivery_method={{ request.session.delivery_method_filter }}&amp;start_date={{ request.session.start_date_filter }}&amp;end_date={{ request.session.end_date_filter }}&amp;all_courses={{ request.session.all_courses }}&amp;sort_order={{ request.session.sort_order }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
          </div>
      {% endif %}
  {#{% else %}#}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {#{% endif %}#}
{% endblock %}

