{% extends "base.html" %}

{% block scripts %}{{ block.super }}
   <script type="text/javascript">
     var basePath = '{% url index %}';
   </script>
  <script type="text/javascript" src="{% url appstatic "js/schedule.js" %}"></script>
{% endblock %}

{% load tabbing %}

{% block page_title %}myschedule{% endblock %}

{% block app_header %}
<a href="{% url index %}">myschedule</a>
{% endblock %}

{% block sections %}
<li class="{% selected ^$ %}{% selected ^show_courses/ %}{% selected ^show_sections/ %}"><a href="{% url index %}">Search</a></li>
{% if request.session.WorkingCart %}
  <li class="{% selected ^show_schedule/ %}{% selected ^display_cart/ %}"><a href="{% url show_schedule %}">Schedule</a></li>
{% endif %}
{% endblock %}

{% block body_class %}sidebar{% endblock %}
{% block sidebar %}
    <h5>Saved Schedules</h5>
      {% if request.session.SavedSchedules %}
        <ul class='sidebar'>
          {% for schedule in request.session.SavedSchedules %}
            <li><a class="open-schedule" href="#{{ schedule.description }}" sections="{{ schedule.sections }}" title="Display schedule for {{ schedule.description }}">{{ schedule.description }}</a>
                <a href="{% url delete_schedule schedule.id %}" title="Delete saved schedule {{ schedule.description }}" class="delete-schedule">X</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
          {% if user.is_authenticated %}
            <p><i>You have no saved schedules</i></p>
          {% else %}
            <p><i><a href="{% url login %}" title="Sign in with your CPCC Login">Sign in</a> to view saved schedules.</i></p>
          {% endif %}
      {% endif %}
    <h5>Recent Searches</h5>
      {% if request.session.RecentSearches %}
        <ul class='sidebar'>
          {% for search_text in request.session.RecentSearches %}
            <li><a href="{% url search search_text %}" title="Show search results for {{ search_text }}">{{ search_text }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p><i>No searches to display.</i></p>
      {% endif %}
{% endblock %}
{% block content %}
  {% include "myschedule/dialogs/save_cart.html" %}
{% endblock %}

