{% extends "myschedule/base.html" %}
{% block scripts %}{{ block.super }}
  <script type="text/javascript" src="{% url appstatic "js/calendar.js" %}"></script>
  <script type="text/javascript" src="{% url appstatic "js/filtering.js" %}"></script>
{% endblock %}

{% load verbatim %}
{% load myschedule_filters %}

{% block body_class %}sidebar{% endblock %}

{% block sidebar %}{{ block.super }}
<div class="container-fluid">
    <div class="row-fluid">
        {% block filtering %}
        <div class="navbar">
          <div class="navbar-inner">
            <div class="brand">Filtering</div>
          </div>
        </div>
          <form class="form-inline">
            <legend>Campus</legend>
            <button class="toggle-button btn">Central</button>
            <button class="toggle-button btn">Harper</button>
            <button class="toggle-button btn">Harris</button>
            <button class="toggle-button btn">Cato</button>
            <button class="toggle-button btn">Merancas</button>
            <button class="toggle-button btn">Levine</button>
            <legend>Academic Level</legend>
            <button class="toggle-button btn">CCE</button>
            <button class="toggle-button btn">Curriculum</button>
            <button class="toggle-button btn">Basic Skills</button>
            <legend>Delivery Method</legend>
            <button class="toggle-button btn">Classroom</button>
            <button class="toggle-button btn">Online</button>
            <button class="toggle-button btn">Hybrid</button>
          </form>
        {% endblock %}

        {% block buttons %}
          <a class="open-window button" href="#email" ref="email" dialog-title="Email Schedule" title="Email this schedule to yourself or a friend">Email Schedule</a>
          <a href="#print" title="Print this page" class="print-schedule button">Print Schedule</a>   
          {% if user.is_authenticated %}
            {% for group in user.groups.all %}
              {% ifequal group|stringformat:"s" "Students" %}
                <a class="open-window button" href="#register" ref="register" dialog-title="Begin Registration" title="Submit this schedule to preferred list in MyCollege">Begin Registration</a>
              {% endifequal %}
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block schedule %}{% endblock %}
    </div>
</div>
{% endblock %}
