{% extends "base.html" %}

{% block scripts %}{{ block.super }}
   <script type="text/javascript">
     var basePath = '{% url index %}';
   </script>
{% endblock %}

{% load myschedule_filters %}

{% block page_title %}Schedule Builder{% endblock %}

{% block app_header %}
<a href="{% url index %}">Schedule Builder</a>
{% endblock %}

{% block login %}
  <div id="login">
  {% if request.user.is_authenticated %}
    Welcome back, <span id="user-name">{{ request.user.get_full_name }}</span> | <a href="{% url logout %}">Sign Out</a>
  {% else %}
    <a href="{% url schedule_login request.path %}">Sign In</a>
  {% endif %}
  {% url help as help %}
  {% block help_text %}
    | <a href="{{ help }}">Help</a>
  {% endblock %}
  </div>
  {% block help_icon %}
  <a href="{{ help }}"><img src="{% url static "3g/img/help_icon.png" %}" alt="Help Icon" id="help-icon"></a>
  {% endblock %}
{% endblock %}

