{% extends "myschedule/base.html" %}

{% block page_title %}{{ block.super }} | Display Cart{% endblock %}

{% block content %}{{ block.super }}
{% if not cartitems %}
  <div class="message message-warning">
    <p>All classes have been removed from this schedule.</p>
  </div>
{% else %}
  {% if not user.is_authenticated or conflicting_sections %}
    <div class="message message-warning">
    {% if not user.is_authenticated %}
      <p><a href="{% url login %}">Sign in</a> to save this schedule!</p>
    {% endif %}
    {% if conflicting_sections %}
      <p>See the highlighted sections below for scheduling conflicts.</p>
    {% endif %}
    </div>
  {% endif %}
  <a class="open-window ui-button" href="#email" ref="email" dialog-title="Email Schedule" title="Email this schedule to yourself or a friend">Email Schedule</a>
  <a href="JavaScript:window.print();" title="Print this page" class="ui-button">Print Schedule</a>
  <table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Status</th>
      <th>Meeting Location & Times</th>
      <th>Instructor / Book</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for item in cartitems %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ item.course_data.prefix }} - {{ item.course_data.course_number }} - {{ item.section_data.section_number }} <i>{{ item.course_data.title }}</i><br/>Synonym: {{ item.section_data.synonym }}</td>
      <td>{{ item.seat_count }}</td>
      <td {% if item.section_data.section_code in conflicting_sections %}class="error"{% endif %}>From {{ item.section_data.start_date }} to {{ item.section_data.end_date }}<br/>
          {{ item.section_data.campus }}
          {% for meeting in item.meeting_data %}
            <br/>
            {{ meeting.building }} {{ meeting.room }} {{ meeting.meeting_type }} {{ meeting.days_of_week }} {{ meeting.start_time|time:"h:i A" }} {{ meeting.end_time|time:"h:i A" }}
          {% endfor %}
      </td>
      <td>{% if item.section_data.instructor_link %}<a href="{{ item.section_data.instructor_link }}">{{ item.section_data.instructor_name }}</a>{% else %}{{ item.section_data.instructor_name }}{% endif %}<br/><br/>
      {% if item.section_data.book_link %} <a class="open-window" ref="book" dialog-title="Book Information" href= "#book" booklink="{{ item.section_data.book_link }}">View Book Information</a>{% endif %}</td>
      <td><a class="ui-button" href="{% url delete_cartitem item.section_data.section_code %}">Remove</a></td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  {% include "myschedule/dialogs/book.html" %}
  {% include "myschedule/dialogs/email.html" %}
{% endif %}
{% endblock %}
