{% extends "myschedule/base-sidebar.html" %}

{% load myschedule_filters %}

{% block page_title %}{{ block.super }} | Schedule{% endblock %}

{% block schedule %}{% endblock %}

{% block content %}{{ block.super }}
{% include "myschedule/search.html" %}
{% if not cart_items %}
  <br />
  <div class="message message-warning">
    <p>All classes have been removed from this schedule.</p>
  </div>
{% else %}
  {% if not user.is_authenticated or conflicts.conflicting_sections %}
    <br />
    <div class="message message-warning" id="conflict-login-message">
    {% if not user.is_authenticated %}
      <p id="login-message"><a href="{% url schedule_login request.path %}">Sign in</a> to save this schedule!</p>
    {% endif %}
    {% if conflicts.conflicting_sections %}
      <p id="conflict-message">Scheduling conflicts are highlighted below.</p>
    {% endif %}
    </div>
  {% endif %}

  {% for item in cart_items %}
    <div class="section">
      <div class="section-top">
        <div class="section-number">{{ item.course.prefix }} {{ item.course.course_number }} - {{ item.section_number }} </div>
        <div class="section-heading">{{ item.course.title }}</div>
        <a class="remove-link" href="#remove" ref="{{ item.section_code }}"><img src="{% url appstatic "img/remove_button.png" %}" alt="Remove" /></a>

      </div>
      <div class="section-content">
        <div class="section-seats">
          <table>
            {% if item.seat_count != "Seat count unavailable" %}
              <tr>
                <td class="section-seats-label">Seats Available</td>
              </tr>
              <tr>
                <td class="section-seats-number">{{ item.seat_count }}</td>
              </tr>  
            {% else %}
            <tr>
              <td class="section-seats-label">{{ item.seat_count }}</td>
            </tr>
            {% endif %}
            <tr>
              <td class="section-tuition">Tuition ${{ item.tuition }}</td>
            </tr>
          </table>
        </div>

        <div class="section-meeting">
          <table>
            {% for meeting in item.meeting_set.all %}
              <tr>
                <td class="section-campus">{{ item.campus }}</td>
                <td class="section-room">Rm {{ meeting.building }} {{ meeting.room }}</td>
                <td class="section-type">{{ meeting.meeting_type }}</td>
                <td class="section-days">{{ meeting.days_of_week|days_of_week }}</td>
                <td class="section-time{% if meeting.id in conflicts.conflicting_meetings %} error{% endif %}" id="{{ meeting.id }}">{{ meeting.start_time|time:"g:i A" }} - {{ meeting.end_time|time:"g:i A" }}</td>
              </tr>
            {% endfor %}
            <tr>
              <td colspan="2"><strong>From</strong> {{ item.start_date|date:"n-j-Y" }} to {{ item.end_date|date:"n-j-Y" }}</td>
              <td colspan="3"><strong>Session</strong> {{ item.session }}</td>
            </tr>
            <tr>
                <td colspan="6">{{item.delivery_type }}</td>
            </tr>
          </table>
        </div>
        <div class="clear"></div>
      </div>
      <div class="section-bottom">
        <div class="section-hours"><strong>Contact Hours</strong> {{ item.contact_hours }}</div>
        <div class="section-instructor"><strong>Instructor</strong> {% if item.instructor_link %}<a href="{{ item.instructor_link }}">{{ item.instructor_name }}</a><span class="print-only print-link instructor-link"> {{ item.instructor_link }}</span>{% else %}<span class="instructor-name">{{ item.instructor_name }}</span>{% endif %}
        </div>
        <div class="section-books do-not-print">
          {% if item.book_link %} <a class="open-window" ref="book" dialog-title="Book Information" href= "#book" booklink="{{ item.book_link }}">Book Information</a> <img src="{% url appstatic "img/books_icon.png" %}" alt="Book" />{% endif %} <br/>
          {% if item.note %}<a class="open-window" ref="show-note" dialog-title="Notes" dialog-note="{{ item.note }}" href="#note">Notes</a>{% endif %}
        </div>
        <div class="clear"></div>
      </div>
      <div class="print-only">
        <span class="print-label">Book Information </span><span class="print-link">{{ item.book_link }}</span>
        <hr />
      </div>
    </div>
  {% endfor %}

  {% include "myschedule/dialogs/book.html" %}
  {% include "myschedule/dialogs/email.html" %}
  {% include "myschedule/dialogs/show_note.html" %}
{% endif %}
{% endblock %}
