{% extends "myschedule/base.html" %}

{% block page_title %}{{ block.super }} | Display Cart{% endblock %}

{% block content %}
<p>Here's what's in the cart:
<table>
<tbody>
{% for item in cartitems %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ item.course_data.prefix }} - {{ item.course_data.number }} {{ item.course_data.title }} <br/> {{ item.section_data.section }} {{ item.section_data.instructor_last_name }}
    {% if item.booklink %} <a href= "{{ item.booklink }}">View Book Information</a>{% endif %}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</p>
{% endblock %}
