{% extends "myschedule/base.html" %}

{% block page_title %}{{ block.super }} | Home{% endblock %}

{% block content %}{{ block.super }}
  <div class="message message-warning">
    <p>Welcome to the CPCC Schedule Builder where you can search for courses and build schedules. Schedules can be saved, printed, or emailed. 
    {% if not user.is_authenticated %}
      To save schedules, you must <a href="{% url login %}">sign in</a>.</p>
    {% endif %}
  </div>
  {% include "myschedule/search.html" %}
{% endblock %}
