{% extends "myschedule/base.html" %}

{% block page_title %}{{ block.super }} | Display Cart{% endblock %}

{% block content %}
<form method="POST" action="" id="save-cart"
  <p>
  Enter a brief name for this schedule:
    <div class="field">
      <input type=text name="save_name" id="id_save_name" max_length="40"/>
        <div class="help-text">
          Specify an existing schedule name to overwrite a previously saved schedule. 
        </div>
    </div>
  </p>
<input type="submit" value="Save Schedule" id="id_save_button"/>
</form>
{% endblock %}
