<a class="advanced-search" href="#advancedsearch">Advanced Search</a>
<fieldset id="search-filter">
    <span class="filter-text">Sort course results by:</span>
    <div class="field radio">
        <label class="radio">Prefix and course number</label><input type="radio" name="sort_order" value="prefix" {% ifequal request.session.sort_order "prefix" %}checked{% endifequal %}/>
    </div>
    <div class="field radio">
        <label>Title (alphabetical)</label><input type="radio" name="sort_order" value="title" {% ifequal request.session.sort_order "title" %}checked{% endifequal %}/>
    </div>

    <span class="filter-text">Filter course and section results by:</span>
    <div class="filters">
        <div class="field">
            <label>Campus</label>{{ form.campus }}
        </div>
        <div class="field">
            <label>Delivery method</label>{{ form.delivery_method }}
        </div>
        <div class="field">
            <label>Term</label> {{ form.term }}
        </div>
        <div class="half">
            <div class="field">
                <label>Class begins on or after</label> {% if form.start_date.errors %}<span class="error">{% endif %}{{ form.start_date }} {% if form.start_date.errors %}</span>{% endif %}
                <div class="help-text">
                   mm/dd/yyyy or mm-dd-yyyy 
                </div>
            </div>
         </div>
         <div class="half">
            <div class="field">
                <label>Class ends on or before</label> {% if form.end_date.errors %}<span class="error">{% endif %}{{ form.end_date }} {% if form.end_date.errors %}</span>{% endif %}
                <div class="help-text">
                    mm/dd/yyyy or mm-dd-yyyy
                </div>
            </div>
        </div>
    </div>
    <a class="remove-filter" href="#removefilters">Remove filters</a>
</fieldset>

