div.search {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

span.information {
    color: red;
    margin-left: 5px;
}

input.save-button {
    visibility: hidden;
}

a.delete-schedule {
    color: red;
}

li.schedule-li {
    width: 40%;
}
