h1 {
    display: none;
}

div.search {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

div.book {
    overflow-y: hidden;
    margin: 0;
}

span.information {
    color: red;
    margin-left: 5px;
}

input.save-button {
    visibility: hidden;
}

a.delete-schedule {
    color: red;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

td.checkmark {
    text-align: Center;
    font-weight: bold;
    font-size: 2em;
}

li.schedule-li {
    width: 40%;
}

td.error {
    color: red;
}

.ui-icon-trash {
    display: inline-block;
}

table.calendar-table {
    font-size: 10px;
    width: 95%;
    margin-left: 4px;
}

table.calendar-table td {
    padding: 0;
    width: 12.5%;
}

table.calendar-table th {
    padding: 1px;
    width: 12.5%;
}

#hour-div {
    height: 12px;
    font-size: 8px;
}

#weekday-hour-div {
    height: 12px;
    font-size: 4px;
}

.min-div {
    height: 1px;
}

.busy {
    background-color: gray;
}
