/* 3G theme overrides */
h1 { display: none; }
div#content { padding: 13px; }
div#body.sidebar div#content { width: 684px; }

#search
{
    margin: auto;
    width: 482px; 
}

#id_query
{
    float: left;
    margin: 0;
    padding: 5px 10px;
    width: 400px;
    height: 20px;
    background: #fff;
    border-top: 1px solid #ccc;
    border-right: none;
    border-bottom: 1px solid #999;
    border-left: 1px solid #ccc;
    font-size: 14px;
    color: #929292;
}

#id_query:focus {
    color: #000;
}

div.field.radio {
    display: inline-block;
}

div.field.radio.sort-title {
    margin-left: 7px;
}

div.one-third {
    float: left;
    width: 25%;
    margin-right: 10px;
}

div.two-third, div.three-third {
    float: left;
    width: 35%;
    margin-right: 1%;
}

#id_start_date, #id_end_date {
    width: 125px;
}

span.sort-text {
    display: block;
    font-weight: bold;
}

span.filter-text {
    display: block;
    font-weight: bold;
    margin-top: 22px;
}

a.advanced-search
{
    display: block;
    text-align: right;
    padding-top: 5px;
}

div.advanced-footer {
    display: block;
}

div.show-all {
    float: left;
    height: 25px;
}

div.close-advanced-search {
    float: right;
    padding-top: 10px;
}

#headline
{
    margin: 40px 0 25px;
    text-align: center;
    font-size: 30px;
    color: #555;
}

#steps
{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 670px;
}
#steps li
{
    float: left;
    margin-right: 50px;
    width: 190px;
    text-align: center;
}
#steps li.last
{
    margin-right: 0;
}
#steps li h2
{
    font-size: 20px;
    font-weight: normal;
    color: #505050;
}
#steps li p
{
    font-size: 14px;
    color: #707070;
}

#cart
{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 203px;
}
#cart li
{
    margin-bottom: 10px;
    padding: 10px 15px;
    height: 40px;
    background: url('../img/cart_item_background.png') no-repeat;
    font-size: 15px;
    color: #f5f5f5;
}
#cart li img
{
    float: right;
    position: relative;
    bottom: 17px;
    left: 22px;
}

#view-full-schedule
{
    margin: 25px 0;
    text-align: center;
}

.course
{
    margin: 15px 0;
    width: 685px;
}
.course .course-top
{
    height: 8px;
    background: url('../img/course_top_background.png') no-repeat;
}
.course .course-content
{
    background: url('../img/course_background.png') repeat-y;
}
.course .course-content .course-metadata
{
    float: left;
    padding: 15px 0;
    width: 135px;
    text-align: center;
}
.course .course-content .course-metadata .course-number
{
    font-size: 25px;
    font-weight: bold;
    color: #7c7c7c;
}
.course .course-content .course-metadata .course-hours
{
    font-size: 15px;
    font-weight: bold;
    color: #434343;
}
.course .course-content .course-description
{
    float: left;
    width: 520px;
    padding: 15px;
    font-size: 14px;
    color: #333;
}
.course .course-content .course-description p
{
    margin: 10px 0 0 0;
}
.course .course-content .course-description .course-name
{
    margin-top: 0;
    font-weight: bold;
}
.course .course-content .course-description .contact-hours
{
    font-weight: bold;
    margin-top: 10px;
}
.course .course-content .course-description table
{
    border: none;
    margin: 0;
    padding: 0;
}
.course .course-content .course-description table td
{
    border: none;
    vertical-align: top;
}
.course .course-content .course-description table.requisites td
{
    width: 50%;
}
.course .course-content .course-description table.requisites td.coreq
{
    padding-left: 2%;
    padding-right: 0px;
}
.course .course-content .course-description table.requisites td.prereq
{
    padding-right: 2%;
    padding-left: 0px;
}

.course .course-bottom
{
    height: 8px;
    background: url('../img/course_bottom_background.png') no-repeat;
}

.section
{
    margin: 15px 0;
    width: 685px;
    color: #333;
}
.section .section-top
{
    height: 37px;
    background: url('../img/section_top_background.png') no-repeat;
    font-size: 18px;
    font-weight: bold;
}
.section .section-top .section-number
{
    float: left;
    width: 135px;
    padding-top: 10px;
    text-align: center;
}
.section .section-top .section-heading
{
    float: left;
    width: 510px;
    padding: 10px 0 0 15px;
}
.section .section-top img
{
    float: right;
    position: relative;
    bottom: 7px;
    left: 7px;
}
.section .section-content
{
    background: url('../img/section_content_background.png') repeat-y;
}
.section .section-content .section-seats
{
    float: left;
    width: 135px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}
.section .section-content .section-seats table
{
    border: none;
    margin: 0;
    padding: 0;
}
.section .section-content .section-seats table td
{
    border: none;
    vertical-align: top;
}
.section .section-content .section-seats .section-seats-label
{
    font-size: 13px;
}
.section .section-content .section-seats .section-seats-number
{
    font-size: 25px;
    height: 45px;
}
.section .section-content .section-seats .section-tuition
{
    font-size: 13px;
}
.section .section-content .section-meeting
{
    float: left;
    width: 495px;
    padding: 10px 15px;
    font-size: 13px;
}
.section .section-content .section-meeting .section-campus
{
    width: 27%;
    font-weight: bold;
}
.section .section-content .section-meeting .section-hours
{   
    float: right;
    display: inline;
}
.section .section-content .section-meeting .section-hours .section-credit-hours
{
    margin: 1px 0px 7px 0px;
}
.section .section-content .section-meeting .section-hours .section-contact-hours
{
    margin: 1px 0px 4px 0px;
}
.section .section-content .section-meeting .section-meeting-dates
{
    float: left;
    display: inline;
    margin: 1px 0px 7px 0px;
}
.section .section-content .section-meeting .section-meeting-times
{
    float: left;
    display: inline;
    margin: 1px 0px 7px 0px;
    /* Set a min-width otherwise online class will display beside meeting dates. */
    min-width: 250px;
}
.section .section-content .section-meeting .section-meeting-times .section-time
{
    margin: 1px 0px 5px 0px;
}
.section .section-content .section-meeting .section-meeting-times .section-online
{
    margin: 0px 0px 0px 0px;
}
.section .section-content .section-meeting .section-delivery-type
{
    margin: 1px 0px 7px 0px;
}
.section .section-content .section-meeting .section-note
{
    margin: 1px 0px 7px 0px;
}
.section .section-content .section-meeting .section-instructor
{
    margin: 1px 0px 0px 0px;
}

.section .section-bottom
{
    height: 52px;
    background: url('../img/section_bottom_background.png') no-repeat;
    font-size: 13px;
}
.section .section-bottom .section-synonym
{
    float: left;
    width: 135px;
    padding-top: 17px;
    text-align: center;
    font-weight: bold;
}
.section .section-bottom .section-hours
{
    float: left;
    width: 135px;
    padding-top: 17px;
    text-align: center;
}
.section .section-bottom .section-term
{
    float:left;
    padding: 17px 0 0 15px;
}
.section .section-bottom .section-books
{
    float: right;
    padding: 3px 15px 0 0;
}

div.book {
    overflow-y: hidden;
    margin: 0;
}

span.information {
    color: red;
    margin-left: 5px;
}

.button {
    display: block;
    margin: 5px auto;
    background: url('../img/button_background.png') no-repeat;
    padding-top: 20px;
    width: 203px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #beec76;
}

.button:hover {
    color: #beec76;
}

input.save-button {
    visibility: hidden;
}

a.delete-schedule {
    color: red;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

td.checkmark {
    text-align: Center;
    font-weight: bold;
    font-size: 2em;
}

li.schedule-li {
    width: 40%;
}

.section .section-content .section-meeting table tr.error td {
    margin: 0;
    border-top: 2px solid #e5740e;
    border-bottom: 2px solid #e5740e;
}
.section .section-content .section-meeting table tr.error td.left-cell{
    border-left: 2px solid #e5740e;
}
.section .section-content .section-meeting table tr.error td.right-cell{
    border-right: 2px solid #e5740e;
}
.ui-icon-trash {
    display: inline-block;
}

table.calendar-table {
    font-size: 10px;
    width: 95%;
    margin-left: 5px;
    background-color: white;
}

table.calendar-table td {
    padding: 0;
    width: 12.5%;
}

table.calendar-table th {
    padding: 1px;
    width: 12.5%;
}

#hour-div {
    height: 12px;
    font-size: 8px;
    background-color: #f5f5f5;
    margin-right: 2px;
    text-align: right;
}

#weekday-hour-div {
    height: 12px;
    font-size: 4px;
}

.min-div {
    height: 1px;
}

.busy {
    background-color: gray;
}

.busy-with-conflict {
    background-color: #e5740e;
}

div.sidebar-message {
    margin-left: 5px;
}

span.print-only, div.print-only {
    display: none;
}

span.error input {
    color: red;
}

@media print
{
    #content img, .message,
    #search, a.remove-link,
    a.do-not-print, a.open-window,
    span.do-not-print {
        display: none;
    }

    span.print-only, div.print-only {
        display: block;
    }

    span.print-label {
        font-weight: bold;
    }

    span.print-link {
        color: #00f;
        margin-left: 5px;
    }

    span.instructor-link {
        margin-left: 0px;
    }
}
